ASSIGNMENT 2 - CREDIT FRAUD PREDICTION.

1. Import Libraries.

In [50]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

2. Read the Training csv file.

In [51]:
Train_df = pd.read_csv('1631544228_021599_credit_train.csv')
Train_df.head(60)
Train_df.dropna()

          id  F1  F2  F3  F4     F5  F6  F7  F8  F9     F10      F11  credit
0          0  13  40   1   1   2174   0   4   7   9   White     Male       0
1          1  13  13   0   4      0   0   2   6   9   White     Male       0
2          2   9  40   1   6      0   0   0   4  11   White     Male       0
3          3   7  40   0   6      0   0   2   4   1   Black     Male       0
4          4  13  40   5  10      0   0   2   4   9   Black   Female       0
...      ...  ..  ..  ..  ..    ...  ..  ..  ..  ..     ...      ...     ...
32556  32556  12  38   5  13      0   0   2   4   7   White   Female       0
32557  32557   9  40   0   7      0   0   2   4  11   White     Male       1
32558  32558   9  40   4   1      0   0   6   4  11   White   Female       0
32559  32559   9  20   3   1      0   0   4   4  11   White     Male       0
32560  32560   9  40   5   4  15024   0   2   5  11   White   Female       1

[32561 rows x 13 columns]

Pearson Correlation among the columns

In [52]:
print(Train_df.corr())

              id        F1        F2  ...        F8        F9    credit
id      1.000000 -0.001079  0.000607  ... -0.000166 -0.006697  0.005404
F1     -0.001079  1.000000  0.148123  ...  0.052085  0.359153  0.335154
F2      0.000607  0.148123  1.000000  ...  0.138962  0.055510  0.229689
F3     -0.004055 -0.094153 -0.248974  ... -0.090461 -0.010876 -0.250918
F4     -0.001430  0.109697  0.080383  ...  0.254892 -0.021260  0.075468
F5      0.001672  0.122630  0.078409  ...  0.033835  0.030046  0.223329
F6     -0.001188  0.079923  0.054256  ...  0.012216  0.016746  0.150526
F7     -0.000401 -0.069304 -0.190519  ... -0.064731 -0.038407 -0.199307
F8     -0.000166  0.052085  0.138962  ...  1.000000  0.023513  0.051604
F9     -0.006697  0.359153  0.055510  ...  0.023513  1.000000  0.079317
credit  0.005404  0.335154  0.229689  ...  0.051604  0.079317  1.000000

[11 rows x 11 columns]

One Hot Encoding - on train data

In [53]:
from sklearn.preprocessing import OneHotEncoder
# creating one hot encoder object 
onehotencoder = OneHotEncoder()
#reshape the 1-D country array to 2-D as fit_transform expects 2-D and finally fit the object 
X = onehotencoder.fit_transform(Train_df["F10"].values.reshape(-1,1)).toarray()
#To add this back into the original dataframe 
dfOneHot = pd.DataFrame(X, columns = ["F10_"+str(int(i)) for i in range(len(Train_df["F10"].unique()))]) 
Train_df = pd.concat([Train_df, dfOneHot], axis=1)

In [54]:
from sklearn.preprocessing import OneHotEncoder
# creating one hot encoder object 
onehotencoder = OneHotEncoder()
#reshape the 1-D country array to 2-D as fit_transform expects 2-D and finally fit the object 
X = onehotencoder.fit_transform(Train_df["F11"].values.reshape(-1,1)).toarray()
#To add this back into the original dataframe 
dfOneHot = pd.DataFrame(X, columns = ["F11_"+str(int(i)) for i in range(len(Train_df["F11"].unique()))]) 
Train_df = pd.concat([Train_df, dfOneHot], axis=1)

Drop id, F10, F11, F8, F9, Credit columns

In [56]:
Train_data = Train_df.drop(['id'], axis = 1)
Train_data = Train_data.drop(['F10'], axis = 1)
Train_data = Train_data.drop(['F11'], axis = 1)
Train_data = Train_data.drop(['F8'], axis = 1)
Train_data = Train_data.drop(['F9'], axis = 1)
Train_data = Train_data.drop(['credit'], axis = 1)

In [57]:
print(Train_data.corr())

             F1        F2        F3  ...     F10_4     F11_0     F11_1
F1     1.000000  0.148123 -0.094153  ...  0.051353 -0.012280  0.012280
F2     0.148123  1.000000 -0.248974  ...  0.049345 -0.229309  0.229309
F3    -0.094153 -0.248974  1.000000  ... -0.131913  0.582454 -0.582454
F4     0.109697  0.080383 -0.075607  ...  0.007897 -0.080296  0.080296
F5     0.122630  0.078409 -0.057919  ...  0.014429 -0.048480  0.048480
F6     0.079923  0.054256 -0.061062  ...  0.021044 -0.045567  0.045567
F7    -0.069304 -0.190519  0.185451  ... -0.080376  0.129314 -0.129314
F10_0 -0.029345 -0.003096  0.025190  ... -0.237763  0.010820 -0.010820
F10_1  0.062091 -0.004564  0.011226  ... -0.439572  0.000856 -0.000856
F10_2 -0.075272 -0.053153  0.138081  ... -0.788747  0.115604 -0.115604
F10_3 -0.044133 -0.007188  0.015998  ... -0.221809  0.013906 -0.013906
F10_4  0.051353  0.049345 -0.131913  ...  1.000000 -0.103486  0.103486
F11_0 -0.012280 -0.229309  0.582454  ... -0.103486  1.000000 -1.000000
F11_1  0.012280  0.229309 -0.582454  ...  0.103486 -1.000000  1.000000

[14 rows x 14 columns]

In [58]:
Train_credit = Train_df['credit']

In [8]:
Train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      32561 non-null  int64
 1   F1      32561 non-null  int64
 2   F2      32561 non-null  int64
 3   F3      32561 non-null  int64
 4   F4      32561 non-null  int64
 5   F5      32561 non-null  int64
 6   F6      32561 non-null  int64
 7   F7      32561 non-null  int64
 8   F8      32561 non-null  int64
 9   F9      32561 non-null  int64
 10  F10     32561 non-null  object
 11  F11     32561 non-null  object
 12  credit  32561 non-null  int64
dtypes: int64(11), object(2)
memory usage: 3.2+ MB

In [9]:
Train_df.describe()

                 id            F1  ...            F9        credit
count  32561.000000  32561.000000  ...  32561.000000  32561.000000
mean   16280.000000     10.080679  ...     10.298210      0.240810
std     9399.695394      2.572720  ...      3.870264      0.427581
min        0.000000      1.000000  ...      0.000000      0.000000
25%     8140.000000      9.000000  ...      9.000000      0.000000
50%    16280.000000     10.000000  ...     11.000000      0.000000
75%    24420.000000     12.000000  ...     12.000000      0.000000
max    32560.000000     16.000000  ...     15.000000      1.000000

[8 rows x 11 columns]

Label Encoder

In [11]:
label = LabelEncoder()
Train_data['F10'] = label.fit_transform(Train_data['F10'].astype('str'))
Train_data['F11'] = label.fit_transform(Train_data['F11'].astype('str'))

In [21]:
Train_data

       F1  F2  F3  F4     F5  F6  ...  F10_1  F10_2  F10_3  F10_4  F11_0  F11_1
0      13  40   1   1   2174   0  ...    0.0    0.0    0.0    1.0    0.0    1.0
1      13  13   0   4      0   0  ...    0.0    0.0    0.0    1.0    0.0    1.0
2       9  40   1   6      0   0  ...    0.0    0.0    0.0    1.0    0.0    1.0
3       7  40   0   6      0   0  ...    0.0    1.0    0.0    0.0    0.0    1.0
4      13  40   5  10      0   0  ...    0.0    1.0    0.0    0.0    1.0    0.0
...    ..  ..  ..  ..    ...  ..  ...    ...    ...    ...    ...    ...    ...
32556  12  38   5  13      0   0  ...    0.0    0.0    0.0    1.0    1.0    0.0
32557   9  40   0   7      0   0  ...    0.0    0.0    0.0    1.0    0.0    1.0
32558   9  40   4   1      0   0  ...    0.0    0.0    0.0    1.0    1.0    0.0
32559   9  20   3   1      0   0  ...    0.0    0.0    0.0    1.0    0.0    1.0
32560   9  40   5   4  15024   0  ...    0.0    0.0    0.0    1.0    1.0    0.0

[32561 rows x 16 columns]

In [13]:
print(Train_data.corr())

              F1        F2        F3  ...     F10_2     F10_3     F10_4
F1      1.000000  0.148123 -0.094153  ... -0.075272 -0.044133  0.051353
F2      0.148123  1.000000 -0.248974  ... -0.053153 -0.007188  0.049345
F3     -0.094153 -0.248974  1.000000  ...  0.138081  0.015998 -0.131913
F4      0.109697  0.080383 -0.075607  ... -0.011053  0.001582  0.007897
F5      0.122630  0.078409 -0.057919  ... -0.020631 -0.001774  0.014429
F6      0.079923  0.054256 -0.061062  ... -0.021762 -0.005964  0.021044
F7     -0.069304 -0.190519  0.185451  ...  0.081600  0.016652 -0.080376
F8      0.052085  0.138962 -0.090461  ... -0.059979 -0.014505  0.057208
F9      0.359153  0.055510 -0.010876  ... -0.021464 -0.028896  0.021704
F11     0.012280  0.229309 -0.582454  ... -0.115604 -0.013906  0.103486
credit  0.335154  0.229689 -0.250918  ... -0.089089 -0.031830  0.085224
F10_0  -0.029345 -0.003096  0.025190  ... -0.031991 -0.008996 -0.237763
F10_1   0.062091 -0.004564  0.011226  ... -0.059144 -0.016632 -0.439572
F10_2  -0.075272 -0.053153  0.138081  ...  1.000000 -0.029844 -0.788747
F10_3  -0.044133 -0.007188  0.015998  ... -0.029844  1.000000 -0.221809
F10_4   0.051353  0.049345 -0.131913  ... -0.788747 -0.221809  1.000000

[16 rows x 16 columns]

Split Training data for testing

In [60]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(Train_data, Train_credit, random_state= 30, test_size=0.3)

Over Sampling

In [72]:
!pip install imbalanced-learn
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=42)
X_res, y_res = sm.fit_resample(X_train, y_train)

Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.7/dist-packages (0.4.3)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (0.22.2.post1)
Requirement already satisfied: numpy>=1.8.2 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20->imbalanced-learn) (1.0.1)

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [74]:
from imblearn.over_sampling import ADASYN
oversample = ADASYN()
X_res1, y_res1 = oversample.fit_resample(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

Model Application

Decision Trees - Without Oversampling

In [61]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

dt_model = DecisionTreeClassifier(random_state=30)
dt_model.fit(X_train, y_train)
y_pred = dt_model.predict(X_test)
print("F1-Score:",f1_score(y_test, y_pred))

F1-Score: 0.645910780669145

Decision Trees - With Oversampling

In [73]:
from sklearn import tree
clf = tree.DecisionTreeClassifier(max_depth=16)

clf.fit(X_res, y_res)
y_pred=clf.predict(X_test)

print("F1-Score:",f1_score(y_test, y_pred))

print("Accuracy:",accuracy_score(y_test, y_pred))

F1-Score: 0.6728937728937728
Accuracy: 0.8171767837035521

Stochastic Gradient Decent

In [79]:
from sklearn.linear_model import SGDClassifier
clf = SGDClassifier(loss="hinge", penalty="l2", max_iter=70)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)


from sklearn.metrics import f1_score
print("F1-Score:",f1_score(y_test, y_pred))

from sklearn.metrics import accuracy_score
print("Accuracy:",accuracy_score(y_test, y_pred))

F1-Score: 0.5542204866326225
Accuracy: 0.6961817995700685

Gradient Boost Classifier

In [63]:
from sklearn.datasets import make_hastie_10_2
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report

 
clf = GradientBoostingClassifier(n_estimators=300, learning_rate=1.0, max_depth=2, random_state=1)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
 
from sklearn.metrics import f1_score
print("F1-Score:",f1_score(y_test, y_pred))

from sklearn.metrics import accuracy_score
print("Accuracy:",accuracy_score(y_test, y_pred))
print(classification_report(y_test,clf.predict(X_test)))

F1-Score: 0.6930976833054693
Accuracy: 0.8684614597195209
              precision    recall  f1-score   support

           0       0.89      0.94      0.92      7464
           1       0.77      0.63      0.69      2305

    accuracy                           0.87      9769
   macro avg       0.83      0.79      0.80      9769
weighted avg       0.86      0.87      0.86      9769

Random Forest

In [31]:
from sklearn import metrics
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestClassifier
rd = RandomForestClassifier(n_estimators=50, max_depth=50, random_state=0)
clf = rd.fit(X_train, y_train)
predicted= clf.predict(X_test)
print("Random Forest Accuracy:",metrics.accuracy_score(y_test, predicted))
print("Random Forest F1 Score:",metrics.f1_score(y_test, predicted, labels=None, pos_label=1, average='binary', sample_weight=None, zero_division='warn'))

Random Forest Accuracy: 0.8467601596888116
Random Forest F1 Score: 0.6429763892201289

KNN

In [48]:
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=13)
clf1 = neigh.fit(X_train, y_train)
predicted1= clf1.predict(X_test)
print("KNN Accuracy:",metrics.accuracy_score(y_test, predicted1))
print("F1-Score:",f1_score(y_test, predicted1))

KNN Accuracy: 0.8566895280990889
F1-Score: 0.66996699669967

Logistic Regression

In [75]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(random_state=1)
clf.fit(X_train, y_train)
y_pred=clf.predict(X_test)

from sklearn.metrics import f1_score
print("F1-Score:",f1_score(y_test, y_pred))

from sklearn.metrics import accuracy_score
print("Accuracy:",accuracy_score(y_test, y_pred))

F1-Score: 0.45928430543815163
Accuracy: 0.8035622888729655

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

SVM

In [76]:
from sklearn import svm
from sklearn.svm import LinearSVC
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

clf = make_pipeline(StandardScaler(),LinearSVC(random_state=1, tol=1e-5))

clf.fit(X_res, y_res)
y_pred=clf.predict(X_test)


from sklearn.metrics import f1_score
print("F1-Score:",f1_score(y_test, y_pred))

from sklearn.metrics import accuracy_score
print("Accuracy:",accuracy_score(y_test, y_pred))

F1-Score: 0.5981500513874615
Accuracy: 0.7598525949431877

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

Perceptron

In [77]:
from sklearn.datasets import load_digits
from sklearn.linear_model import Perceptron
from sklearn.feature_selection import RFE
clf = Perceptron(tol=1e-0, random_state=0)

clf.fit(X_train, y_train)
selector=RFE(clf, 14)
y_pred=clf.predict(X_test)


from sklearn.metrics import f1_score
print("F1-Score:",f1_score(y_test, y_pred))

from sklearn.metrics import accuracy_score
print("Accuracy:",accuracy_score(y_test, y_pred))

F1-Score: 0.4111787493082457
Accuracy: 0.7821680827106152

Neural Network

In [78]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(7,2), random_state=1)
clf.fit(X_res1, y_res1)
y_pred=clf.predict(X_test)


from sklearn.metrics import f1_score
print("F1-Score:",f1_score(y_test, y_pred))

from sklearn.metrics import accuracy_score
print("Accuracy:",accuracy_score(y_test, y_pred))

F1-Score: 0.6172518422193325
Accuracy: 0.728836114238919

Naive Bayes - Gaussian

In [81]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
y_pred = gnb.fit(X_res, y_res).predict(X_test)
print("Number of mislabeled points out of a total %d points : %d"% (X_test.shape[0], (y_test != y_pred).sum()))
print("F1-Score:",f1_score(y_test, y_pred))

Number of mislabeled points out of a total 9769 points : 1719
F1-Score: 0.5737664269774362

XGBoost Classifier

In [83]:
from imblearn.over_sampling import RandomOverSampler
from xgboost import XGBClassifier

xgclassifier = XGBClassifier()
xgclassifier.fit(X_res, y_res)
y_pred = xgclassifier.predict(X_test.values)

print("F1-Score:",f1_score(y_test, y_pred))

F1-Score: 0.6836337928596677

Test Data Preprocessing

In [65]:
test_df = pd.read_csv("1631544228_0377958_credit_test.csv")
test_df
#test_df['F10'] = label.fit_transform(test_df['F10'].astype('str'))
#test_df['F11'] = label.fit_transform(test_df['F11'].astype('str'))

          id  F1  F2  F3  F4  ...  F7  F8  F9                  F10      F11
0          0   7  40   3   7  ...   4   4   1                Black     Male
1          1  12  40   0  11  ...   2   2   7                White     Male
2          2  10  40   0   7  ...   2   4  15                Black     Male
3          3  10  30   3   0  ...   4   0  15                White   Female
4          4   6  30   1   8  ...   4   4   0                White     Male
...      ...  ..  ..  ..  ..  ...  ..  ..  ..                  ...      ...
13300  13300  13  40   3  10  ...   4   4   9                White     Male
13301  13301  13  36   1  10  ...   0   4   9                White   Female
13302  13302   9  40   2   0  ...   6   0  11                Black     Male
13303  13303  13  50   0  10  ...   2   4   9                White     Male
13304  13304  13  40   3   1  ...   0   4   9   Asian-Pac-Islander     Male

[13305 rows x 12 columns]

One Hot Encoding on Test Data.

In [66]:
from sklearn.preprocessing import OneHotEncoder
# creating one hot encoder object 
onehotencoder = OneHotEncoder()
#reshape the 1-D country array to 2-D as fit_transform expects 2-D and finally fit the object 
X = onehotencoder.fit_transform(test_df["F10"].values.reshape(-1,1)).toarray()
#To add this back into the original dataframe 
dfOneHot = pd.DataFrame(X, columns = ["F10_"+str(int(i)) for i in range(len(test_df["F10"].unique()))]) 
test_df = pd.concat([test_df, dfOneHot], axis=1)

In [67]:
from sklearn.preprocessing import OneHotEncoder
# creating one hot encoder object 
onehotencoder = OneHotEncoder()
#reshape the 1-D country array to 2-D as fit_transform expects 2-D and finally fit the object 
X = onehotencoder.fit_transform(test_df["F11"].values.reshape(-1,1)).toarray()
#To add this back into the original dataframe 
dfOneHot = pd.DataFrame(X, columns = ["F11_"+str(int(i)) for i in range(len(test_df["F11"].unique()))]) 
test_df = pd.concat([test_df, dfOneHot], axis=1)

Feature Selection on Test data

In [68]:
Test_data = test_df.drop(['id'], axis = 1)
Test_data = Test_data.drop(['F10'], axis = 1)
Test_data = Test_data.drop(['F11'], axis = 1)
Test_data = Test_data.drop(['F8'], axis = 1)
Test_data = Test_data.drop(['F9'], axis = 1)

In [69]:
Test_data

       F1  F2  F3  F4    F5  F6  ...  F10_1  F10_2  F10_3  F10_4  F11_0  F11_1
0       7  40   3   7     0   0  ...    0.0    1.0    0.0    0.0    0.0    1.0
1      12  40   0  11     0   0  ...    0.0    0.0    0.0    1.0    0.0    1.0
2      10  40   0   7  7688   0  ...    0.0    1.0    0.0    0.0    0.0    1.0
3      10  30   3   0     0   0  ...    0.0    0.0    0.0    1.0    1.0    0.0
4       6  30   1   8     0   0  ...    0.0    0.0    0.0    1.0    0.0    1.0
...    ..  ..  ..  ..   ...  ..  ...    ...    ...    ...    ...    ...    ...
13300  13  40   3  10     0   0  ...    0.0    0.0    0.0    1.0    0.0    1.0
13301  13  36   1  10     0   0  ...    0.0    0.0    0.0    1.0    1.0    0.0
13302   9  40   2   0     0   0  ...    0.0    1.0    0.0    0.0    0.0    1.0
13303  13  50   0  10     0   0  ...    0.0    0.0    0.0    1.0    0.0    1.0
13304  13  40   3   1  5455   0  ...    1.0    0.0    0.0    0.0    0.0    1.0

[13305 rows x 14 columns]

Gradient Boost Classifier on Test data

In [70]:
clf = GradientBoostingClassifier(n_estimators=300, learning_rate=1.0, max_depth=2, random_state=1)
clf.fit(Train_data,Train_credit)
y_pred=clf.predict(Test_data)

Writing prediction to text file

In [71]:
output=open('./gradient.txt', 'w') 
output.writelines("%s \n"%i for i in y_pred)
output.close()